.rightimg  {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 0px 0 0px 7px; /* Отступы вокруг картинки */
    height:400px;
    width: 850px;

   }
   @media (max-width: 1250px){
    .rightimg  {
         
        margin: 10px 0 0px 7px; /* Отступы вокруг картинки */
       
       
    
       }
} 
@media (max-width: 1250px){
    .img_dveri img{
        width: 100%;
        height: 100%;
    }
}  

.text_dveri{
    font-size: 28px;
    padding: 40px;
    
} 





@media (max-width: 1250px){
    .text_dveri,.text_dveri_1,.text_dveri_2{
        text-align: center;
        padding: 40px;
    }
}
@media (max-width: 460px){
    .text_dveri{
        font-size: 17px;
        margin: 10px;
    }
}



@media (max-width: 1250px){  
    .content_1234{display: flex;flex-flow:wrap;}
    .img_dveri,.text_dveri { width: 100%;}
    .img_dveri {order: 2;}
    .text_dveri{order: 1;}     
}

/* ///////////////////////////////////////////////////////////////// */
.robotu{
    text-align: center;
    font-size: 26px;
    padding: 120px;
}
@media (max-width: 1250px){
    .robotu{
        padding: 50px;
        font-size: 20px;
    } 
}
































