.rightimg  {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 0px 0 0px 7px; /* Отступы вокруг картинки */
    height:400px;
    width: 650px;

   }
   @media (max-width: 1250px){
    .rightimg  {
         
        margin: 10px 0 0px 7px; /* Отступы вокруг картинки */
 
       }
} 
@media (max-width: 1250px){
    .img_dveri img{
        width: 100%;
        height: 100%;
    }
}  

.text_dveri{
    font-size: 35px;
    padding: 100px;
    
} 

@media (max-width: 1250px){
    .text_dveri{
        text-align: center;
        padding: 40px;
    }
}
@media (max-width: 460px){
    .text_dveri{
        font-size: 22px;
        margin: 40px;
    }
}



@media (max-width: 1250px){  
    .content_1234{display: flex;flex-flow:wrap;}
    .img_dveri,.text_dveri { width: 100%;}
    .img_dveri {order: 2;}
    .text_dveri{order: 1;}     
}
