


@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
 
html {
  box-sizing: border-box;
  height: 100%;
}
 
*,
*::after,
*::before {
  box-sizing: inherit;
}
 
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  height: 100%;
}
 
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}


.navbar {

  left: 0;
  top: 95px;
  width: 100%;
  height: 75px;
  background: #2a2a87;
}
 
.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
 
.hamb {
  display: none;
}
 
.popup {
  display: none;
}
 
.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
 
.menu > li > a {
  text-decoration: none;
}
 
.navbar__wrap .menu {
  display: flex;
}
 
.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}
 
.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
}
 
.navbar__wrap .menu > li > a:hover {
  color: rgba(255, 255, 255, 1);
}


@media (max-width: 1200px) {
  .navbar__wrap .menu {
    display: none;
  }


 
  .hamb {
    display: flex;
    align-items: center;
    
  }
 
  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
    
  }
 
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
    
  }
 
  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
    
  }
 
  .popup.open {
    left: 0;
    
  }
 
  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
    
  }
 
  .popup .menu .dropbtn> li {
    width: 100%;

  }
  .dropbtn{
    color: #3f3f3f;
    background-color: rgb(255, 0, 0);
  }
  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
    
  }
 
  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
    
  }
 
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
    
  }
 
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    
  }
 
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
 
  body.noscroll {
    overflow: hidden;
  }

  .rowall{display: flex;flex-flow: wrap;}
    ._container,.misto { width: 100%;}
    .misto {order: 1;}
    ._container {order: 2;}

}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Dropdown Button */
.dropbtn {
  background-color: #2a2a87;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 65px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 1200px) {
  .dropbtn .dropdown-content> li {
    width: 100%;

  }
  .dropbtn{
    color: #000000;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #b1afaf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
    margin-top: 0px;
  } 
  
  .popup .menu .dropdown-content > a {
    width: 100%;
    display: flex;  
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    
  }
  .dropdown{
    padding-bottom: 250px;
  }
 
  .dropdown-pading{
    padding-bottom: 0px;
  }
}




  



